<!DOCTYPE html>
<html>
  <head>
    <title>Fractal</title>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="pushable">
      <div id="app-selector" class="ui sidebar inverted vertical menu">
        <a class="ui logo item" href="<%= url_for(action: 'home', controller: 'welcome') %>">
          <i class="purple tasks icon"></i>Fractal
        <a class="ui logo item" href="<%= url_for(action: 'index', controller: 'task_tracker') %>">
          <i class="purple tasks icon"></i>Task Tracker
        </a>
        <a class="item">More apps comming soon</a>
      </div>
      <div class="ui container pusher">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
